.main{
      height:100px;
      width:100px;
      background-color:red;
      /* margin-top:100px;
      margin-left:200px;
      margin-right:100px;  */
      margin:50px;
      border:10px double  blue;
      /* padding-top:2px;
      padding-right:3px;
      padding-left:4px;
      padding-bottom:6px; */
      padding:100px 500px 200px 150px;
      box-sizing:content-box;      
     }