.main{
    display:grid;
    grid-template-areas:"logo searchbar searchbar  home"
                        "texts image image image"
                        "img image image image"
                        "robo robo robo logout";
     grid-template-rows:100px 200px 200px 100px ;
}

.sub1{
    grid-area: logo;
    background-color: red;
    
}
.sub2{
    grid-area: searchbar;
    background-color: blue;
    justify-content:center;
    align-items:center;
}
.search{
    width:70%;
    height:30px;
    border-radius:15px;
    padding-left: 10px;
    border:1px solid black;
   
}

.sub3{display:flex;
    justify-content:center;
    align-items:center;
    justify-content:space-evenly;
    grid-area:home;
    background-color: yellow;
}
.sub4{
    grid-area: texts;
    background-color: aqua;
    align-items:center;
    justify-content:space-evenly;
}
.sub5{
    grid-area: image;
    background-color: white;
}
.sub6{
    grid-area:img ;
    background-color: blueviolet;
}
.sub7{
    grid-area:robo;
    background-color: brown;
}
.sub8{
    grid-area: logout;
    background-color: green;
}