.main{
     height:100px;
    width:100px;
    /* background-color:red; */ */
    /* transform:translate(1000px,500px); 
    transform:rotate(120deg);
    transform:scale(1.1);
    transform:skew(40deg,30deg);
     */ 
}
/* .main:hover{
     color:green;
    transform:translate(1000px,500px) rotate(120deg) scale(1.1) skew(40deg,30deg);
    transition-duration:2s;
    transition-timing-function:ease-in; */

@keyframes move{
    from{
        /* background-color:red; */
        transform:translate(1px,2px) rotate(00deg);
    }
    to{
        /* background-color:blue; */
        transform:translate(100px,500px) rotate(360deg);
    }
}
   .main{
    animation-name:move;
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-delay:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
} 